<div class="container">
  <div class="row">
    <div class="twelve columns">
      <nav>
        <form class="" method="post">
          <input formaction="/favorite/quotes" class="button-primary" id="btn_favorite_view" type="submit" value="Favorites">
          <input formaction="/users/profile_home" class="button-primary" type="submit" value="Profile">
          <input formaction="/users/logout" class="button-primary" id="btn_login" type="submit" value="Logout">
          <br>
          <input formaction="/users/profile_search" class="button-primary" type="search" name="user_name" placeholder="Search for User" style="text-align:center;">
        </form>
      </nav>
      <div class="profile_image_container">
        <h3>Hello, <%= @user_name %>!</h3>
        <img id="profile_pic" src="<%= @image_base64 %>" alt="" />
      </div>
    </div>

    <div id="content">
      <h3>Favorite Quotes</h3>

      <article class="profile_quote">
        <ol class="favorite-list">
          <% @quotes.each do |quote| %>
            <% if quote.author != "" %>
              <form class="" action="index.html" method="post">
                <li><%= quote.quote %> &#8212; <%= quote.author %>
                    <input formaction="/favorite/quote-delete/<%= quote.id %>" class="button-delete" type="submit" value="Delete">
                </li>
              </form>
            <% else %>
              <form class="" action="index.html" method="post">
                <li><%= quote.quote %> &#8212; Unknown
                    <input formaction="/favorite/quote-delete/<%= quote.id %>" class="button-delete" type="submit" value="Delete">
                </li>
              </form>
            <% end %>
          <% end %>
        </ol>
      </article>

      <br>
      <br>
    </div>
  </div>
</div>
