<div class="container">
  <div class="row">
    <div class="twelve columns">
      <nav>
        <form class="" action="index.html" method="post">
          <input formaction="/favorite/quotes" class="button-primary" id="btn_favorite_view" type="submit" value="Favorites">
          <input formaction="/users/profile_home" class="button-primary" type="submit" value="Profile">
          <input formaction="/users/logout" class="button-primary" id="btn_login" type="submit" value="Logout">
          <br>
          <input formaction="/users/profile_search" class="button-primary" type="search" name="user_name" placeholder="Search for User" style="text-align:center;">
        </form>
      </nav>
      <div class="profile_image_container">
        <h3><%= @user_name %>'s Favorites</h3>
        <img id="profile_pic" src="<%= @image_base64 %>" alt="" />
      </div>
    </div>


    <div id="content">
      <h3>Favorite Quotes</h3>

      <article class="profile_quote">
        <ol class="favorite-list">
          <% @quotes.each do |quote| %>
            <% if quote.author != "" %>
              <li><%= quote.quote %> &#8212; <%= quote.author %></li>
            <% else %>
              <li><%= quote.quote %> &#8212; Unknown</li>
            <% end %>
            <!-- <td><a class="button-link" href='/items/update/<%= quote.id %>'>Update</a></td>
            <td><a class="button-link" href='/items/destroy/<%= quote.id %>'>Destroy</a></td> -->
          <% end %>
        </ol>
      </article>

      <br>
      <br>
    </div>
  </div>
</div>
