<div class="container">
  <div class="row">
    <div class="twelve columns">
      <div class="profile_image_container">
        <h3>Hello, <%= @user_name %>!</h3>
        <img id="profile_pic" src="<%= @image_base64 %>" alt="" />
      </div>
    </div>

    <div id="content">
      <h3>Favorite Quotes</h3>

      <article class="profile_quote">
        <ol class="favorite-list">
          <% @quotes.each do |quote| %>
            <% if quote.author != "" %>
              <li><%= quote.quote %> &#8212; <%= quote.author %>
                <form action="/favorite/quote-delete/<%= quote.id %>" method="post">
                      <input class="button-primary" type="submit" value="Remove">
                </form></li>
            <% else %>
              <li><%= quote.quote %> &#8212; Unknown
                <form action="/favorite/quote-delete/<%= quote.id %>" method="post">
                    <input class="button-primary" type="submit" value="Remove">
                </form></li>
            <% end %>
            <!-- <td><a class="button-link" href='/items/update/<%= quote.id %>'>Update</a></td>
            <td><a class="button-link" href='/items/destroy/<%= quote.id %>'>Destroy</a></td> -->
          <% end %>
        </ol>
      </article>

      <br>
      <br>
      <form action="/users/logout" method="get">
        <input class="button-primary" id="btn_login" type="submit" value="Logout">
      </form>
      <form action="/users/profile_home" method="get">
        <input class="button-primary" type="submit" value="Profile Home">
      </form>
      <form action="/users/profile_search" method="post">
        <input class="button-primary" type="search" name="user_name" placeholder="Username">
      </form>
    </div>
  </div>
</div>
